# Terraform artifacts
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate

# Compiled binaries
bin/

# Release artifacts
dist/

# Test artifacts
internal/e2e/testdata/**/moves.tf

# Local direnv configuration
.envrc
