name: Continous Integration

on: [push, pull_request]

jobs:
  build-and-unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.18"
      - run: make build test

  end-to-end-tests:
    name: End-to-End Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        terraform-version:
          - 0.13.7
          - 0.14.11
          - 0.15.5
          - 1.0.11
          - 1.1.9
          - 1.2.9
          - 1.3.9
          - 1.4.6
          - 1.5.0
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.18"
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ matrix.terraform-version }}
          terraform_wrapper: false # script interferes with parsing of plan
          cli_config_credentials_token: ${{ secrets.TERRAFORM_CLOUD_TOKEN }}
      - name: Install Terragrunt
        uses: autero1/action-terragrunt@v1.3.2
        with:
          terragrunt_version: latest
          token: ${{ secrets.GITHUB_TOKEN }} # to avoid rate limits
      - run: make test-e2e

  end-to-end-tests-check:
    name: End-to-End Tests (matrix)
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [end-to-end-tests]
    steps:
      - run: |
          result="${{ needs.end-to-end-tests.result }}"
          if [[ $result == "success" || $result == "skipped" ]]; then
            exit 0
          else
            exit 1
          fi
