name: Continous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.18"
      - run: make build test

  end-to-end-tests:
    name: End-to-End Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        terraform-version:
          - 0.13.7
          - 0.14.11
          - 0.15.5
          - 1.0.11
          - 1.1.9
          - 1.2.9
          - 1.3.0
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.18"
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ matrix.terraform-version }}
          terraform_wrapper: false # script interferes with parsing of plan
      - run: |
          wget https://github.com/gruntwork-io/terragrunt/releases/download/v0.39.2/terragrunt_linux_amd64 -O /usr/local/bin/terragrunt
          chmod u+x /usr/local/bin/terragrunt
      - run: make test-e2e

  end-to-end-tests-check:
    name: End-to-End Tests (matrix)
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [end-to-end-tests]
    steps:
      - run: |
          result="${{ needs.end-to-end-tests.result }}"
          if [[ $result == "success" || $result == "skipped" ]]; then
            exit 0
          else
            exit 1
          fi
